<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button> <!-- Back button, with starting position -->
    <ion-title>Thesaurus</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color = "primary">
    <ion-title>Enter a word</ion-title>
  </ion-toolbar>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"></ion-searchbar> <!-- Data binding at work -->

  <!-- Loop through and display all objects-->
  <ion-list *ngFor="let words of ThesaurasData">
    <ion-item>
      <ion-label class="ion-text-wrap">
        {{words}}
      </ion-label>
    </ion-item>
 </ion-list> 

</ion-content>


